/* Responsive */
:root{
    /* --main-color: crimson; */
    --main-color: #8a2be2;
}

@media only screen and (max-width:1100px){
    #container1{
        flex-direction: column;
    }
    .c1left{
        margin: 20vh 0;
    }
}
@media only screen and (max-width:1272px){
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-ways{
        flex-direction: column;
        justify-content: center;
    }
    .intouch{
        width: 90vw;
    }
    .c2left img{
        height: 80vw;
        width: 80vw;
    }
    .c2right p{
        width: 80vw;
        text-align: justify;
    }
    .c2right{
        margin: 30px 0;
    }
}
@media only screen and (max-width:737px){
    .navbar ul{
        flex-direction: column;
        height: 0px;
        top: 45px;
        right: 5px;
        position: absolute;
        background-color: #ffffffd5;
        backdrop-filter: blur(3px);
    }
    .navbar li{
        border: 2px solid transparent;
    }
    .navbar li:hover{
        /* background-color: var(--main-color); */
        border: 2px solid var(--main-color);
        
    }
    .navbar li:hover a{
        border: none;
    }
    .navbar li a{
        color: var(--main-color);
    }
    .navbar .hamburger{
        display: block;
        color: var(--main-color);
        font-size: 25px;
    }
}

@media only screen and (max-width:970px){
    .c3service{
        flex-direction: column;
    }
}

@media only screen and (max-width:450px){
    .c3right{
        min-width: 90%;
    }
    .c1right img{
        width: 99.9vw;
        height: 99.9vw;
    }
    .contact-info{
        width: 90vw;
        padding: auto;
    }
    .navbar .logo{
        font-size: 25px;
    }
    .navbar ul{
        top: 30px;
        transform: scale(0.9);
    }
    .hamburger{
        bottom: 5px;
    }
} 

@media only screen and (max-width:320px){
    .navbar .logo{
        font-size: 20px;
    }
    .navbar .hamburger{
        font-size: 20px;
    }
    .wrapper{
        font-size: 15px;
    }
    .navbar ul{
        top: 30px;
    }
    .contact-info{
        height: 200px;
    }
    .c1left h1{
        font-size: 40px;
    }
}



@media only screen and (max-width:380px){
    .title{
        font-size: 25px;
    }
}
@media only screen and (max-width:255px){
    .navbar ul{
        top: 47px;
    }
}